---
import Button from "@ui/Button.astro";

const title = "Let our team help you find your dream home today!";
const subTitle =
  "Discover how Pandos Realty can help you with your real estate needs. Whether you're looking to buy, sell, or rent, we have the expertise to guide you through the process.";
const secondaryCTA = { text: "Current Listings", href: "/currentlistings" };
const primaryCTA = { text: "List Your With Us", href: "/listwithus" };
---

{/* Hero Content */}
<div class="mx-auto max-w-4xl select-none text-left sm:text-center">
  <h1
    class="block text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
  >
    {title}
  </h1>
</div>

<div class="mx-auto max-w-3xl text-left sm:text-center">
  <p class="text-pretty text-lg text-slate-700">
    {subTitle}
  </p>
</div>

{/* CTA Buttons */}
<div class="flex flex-col justify-center gap-5 sm:flex-row">
  <Button href={secondaryCTA.href} variant="secondary"
    >{secondaryCTA.text}</Button
  >
  <Button href={primaryCTA.href} variant="primary">{primaryCTA.text}</Button>
</div>
